// app/styles/main.scss

.components-container-1w {
  display: inline-grid;
  grid-template-columns: 1fr;
  width: 100%;

  .component-box {
    padding: 0px;
    margin: 0px;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.components-container-2w {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .component-box {
    padding: 15px;
    margin: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.component-title {
  padding: 5px 0 10px 15px;
}

.gt_table {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
